.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: rgba(253, 163, 1, 0.81);

    &__content {
        max-width: 700px;
        width: 700px;
        position: relative;
        background: #ccfafe;
        border-radius: 16px;
        padding: 60px 50px;
    }
    &__thanks {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 16px;
        transform: translate(-50%, -50%);
        background: #ccfafe;
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        h1 {
            max-width: 80%;
            text-align: center;
            margin: auto;
        }
    }
    &__close {
        position: absolute;
        right: 9px;
        top: 9px;
        border: 1px solid #000;
        background: #fff;
        border-radius: 12px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 30px;
    }
    &__actions {
        display: flex;
        align-items: center;
        gap: 9px;
        position: relative;
        &--support {
            flex-direction: column;
        }
        p {
            position: absolute;
            bottom: -22px;
            left: 0;
            font-size: 14px;
            line-height: 14px;
            font-weight: bold;
            color: red;
        }
    }
    &__input {
        width: 100%;
        height: 100%;
        height: 50px;
        background: #fff;
        border-radius: 16px;
        padding: 14px 0 14px 20px;
        border: 2px solid transparent;
        outline: none;
        font-family: "Blue curve" !important;
        font-style: normal !important;
        font-weight: 400;
        font-size: 18px;
        color: inherit;
        transition: 0.3s ease-in-out;
        &::placeholder {
            font-family: "Blue curve" !important;
            font-style: normal !important;
            font-weight: 400;
            font-size: 16px;
            line-height: 17px;
            color: #949494;
        }
        &--number::-webkit-inner-spin-button,
        &--number::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &--textarea {
            max-width: 100%;
            margin-bottom: 20px;
        }
        &.err {
            border: 2px solid red;
            animation: kf_shake 0.4s 1 linear;
        }
        @keyframes kf_shake {
            0% {
                transform: translate(30px);
            }
            20% {
                transform: translate(-30px);
            }
            40% {
                transform: translate(15px);
            }
            60% {
                transform: translate(-15px);
            }
            80% {
                transform: translate(8px);
            }
            100% {
                transform: translate(0px);
            }
        }
    }
    &__btn {
        font-family: "Blue curve";
        padding: 0 19px;
        height: 100%;
        font-weight: 400;
        font-size: 22px;
        height: 50px;
        line-height: 23px;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

@media (max-width: 992px) {
    .modal {
        padding: 0 16px;
    }
}

@media (max-width: 650px) {
    .modal {
        &__actions {
            flex-direction: column;
        }
        &__btn {
            width: 100%;
        }
    }
}
@media (max-width: 560px) {
    .modal {
        &__content {
            padding: 30px 20px;
        }
        &__title {
            font-size: 28px;
            margin-bottom: 16px;
        }
        &__text {
            font-size: 16px;
            margin-bottom: 16px;
        }
        &__input {
            &::placeholder {
                font-size: 13px;
                line-height: 10px;
            }
        }
        &__close {
            width: 25px;
            height: 25px;
            border-radius: 8px;
        }
    }
}
